<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ map_name }} Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map_page.css') }}">
</head>
<body>
    <script>
        const mapName = "{{ map_name }}";
    </script>
    <div class="top-menu-left">
        <button class="menu-button" onclick="window.location.href='/'">Home</button>
        <button class="menu-button" id="Abyssal Expedition" onclick="window.location.href='/map/Abyssal Expedition'">AE</button>
        <button class="menu-button" id="Hunting Fields" onclick="window.location.href='/map/Hunting Fields'">HF</button>
    </div>
    
    <div class="top-menu-right">
        <!-- Container to hold the Save button and Color Picker -->
        <div class="save-color-container">
            <!-- Save map button -->
            <button class="menu-button" id="resetMapButton">Reset Map</button>

            <!-- Save map button -->
            <button class="menu-button" id="saveMapButton">Download Map</button>
    
            <!-- Color picker button -->
            <div class="color-picker-container">
                <label for="markerColor">Marker Color:</label>
                <input type="color" id="markerColor" value="#ff0000">
            </div>
        </div>
    </div>
    
    <canvas id="mapCanvas"></canvas>

    <script src="{{ url_for('static', filename='js/map_page.js') }}"></script>
</body>
</html>
